.flex-container {
    display: flex;
    flex-direction: column;
    background-color: orange;
  }

.one {
    background-color: red;
}

.two {
    background-color: purple;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.slots {
    background-color: yellow;   
}

.reels {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bottom {
    display: flex;
    background-color: yellow;
    justify-content: center;
}

