h1, h2, h3 {
    font-family: 'Rubik Mono One', sans-serif;
    color: white;
}

li {
    font-size: 30px;
}
.flex-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(191, 191, 191)

  }

.one {

}

.two {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.keys {
    text-align: center;
}

li {
    list-style-type: none;
    color: white;
}

.three {
    text-align: center;
}


.slots {
    float: none;
}

.reels {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(255, 219, 77);
    padding: 40px;
    text-align: center;
}

.bottom {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 219, 77);
    padding: 30px;
}

.box1, .box2, .box3 {
    background-color: white;
    padding: 100px 100px;
    margin: 5px;    
    length: 150px;

}

