:focus {
    outline: none !important;
}

.flex-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(191, 191, 191)
}

h1 {
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    letter-spacing: 15px;
    font-family: 'Rubik Mono One', sans-serif;
}

h2 {
    font-family: 'Rubik Mono One', sans-serif;
    color: white;
    font-size: 15px;
    margin-top: 20px;
}

h3 {
    margin-top: -10px;
    margin-right: 30px;
    margin-bottom: -10px;
    display: inline-block;
    font-size: 30px;
    font-family: 'Rubik Mono One', sans-serif;
    color: white;
}

h4 {
    color: black;
    font-size: 90px;
}

.flash {
    animation-name: flash;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

hr {
    border: none;
    height: 5px;
    background-color: #D4AC0D;
}

p {
    color: white;
    font-size: 20px;
}

@keyframes flash {
    from {color: white;}
    to {color: gold;}
}

li {
    font-size: 20px;
    list-style-type: none;
    color: white;
    text-align: center;
}


body {
    background-color: rgb(191, 191, 191)
}
  

.two {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.three {
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bottomhalf {
    width: 680px;
    height: 240px;
    background-color: rgb(255, 219, 77);
    margin-top: -23px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.keys {
    text-align: center;
    margin-top: -5px;
    margin-right: -10px;
    float: left;
    background-color: #F7DC6F;
    box-shadow: 5px 10px #D4AC0D;
    border: 2px white;
    padding-right: 35px;
    height: 220px;
    margin-right: -20px;
    width: 180px;
}

.lights {
    text-align: center;
    margin-top: -5px;
    margin-right: -10px;
    float: left;
    border: 2px white;
    padding-right: 35px;
    height: 220px;
    margin-right: -20px;
    width: 150px;
    justify-content: center;
    padding: 20px 10px;
}

.scoreboard {
    margin-top: -30px;
    margin-bottom: 5px;
    border: 2px white;
    float: right;
    padding: 5px 10px;
    width: 320px;
}

.slots {
    float: none;
    margin-bottom: 2px;
}

.reels {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(255, 219, 77);
    padding: 20px 5px 5px 10px;
    text-align: center;
    width: 740px;
    height: 303px;
    margin: 0 auto;
    border-radius: 25px 25px 0 0;

}

.bottom {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 219, 77);
    padding: 5px 30px 10px 30px;
    border-radius: 25px;
    height: 120px;

}

.box1, .box2, .box3 {
    background-color: white;
    padding: 50px;
    height: 220px;
    width: 210px;
    margin: 10px;
    box-shadow: 5px 10px #D4AC0D;
}

.box4 {
    background-color: #F7DC6F;
    box-shadow: 5px 10px #D4AC0D;
    width: 750px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 5px;
    padding-top: 20px;
}

.box5 {
    height: 8px;
    background-color: white;
    width: 160px;
    margin: 0 auto;
    box-shadow: -5px -5px #D4AC0D;
}

#stop1, #stop2, #stop3 {
    margin-top: 5px;
    border-radius: 100%;
    box-shadow: 5px 5px #D4AC0D; 
    color: gray;
    height: 34px;
    width: 34px;

}

.topbox {
    width: 600px;
    height: 30px;
    margin: 0 auto;
    background-color:rgb(255, 219, 77);
    box-shadow: -5px -5px #D4AC0D;
}

.bottombox {
    width: 700px;
    height: 20px;
    margin: 0 auto;
    background-color:rgb(255, 219, 77);
}

.bottombox2 {
    width: 600px;
    height: 5px;
    background-color: #D4AC0D; 
    margin: 0 auto;
}
    
#btn-shuffle {
    background-color:#E5E8E8;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 20px;
    padding: 5px 40px;
    text-align: center;
    text-decoration: none;
}

.glow {
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}

@-webkit-keyframes glowing {
  0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; -webkit-box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
}

#btn-shuffle:active {
    background-color: red;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


#currentBankroll, #bettedAmount {
    font-size: 70px;
    color: #F1C40F;
}

/* .circle {
    border-radius: 100%;
    height: 15px;
    width: 15px;
    display: block;
    margin: 2px;
} */

#add, #subtract { 
    color: white;
    height: 34px;
    width: 34px;
    font-size: 30px;
    border: none;
    background-color: rgb(255, 219, 77);
    position: relative;
    display: block;
}

.buttons123 {
    position: relative;
    margin-bottom: 10px;
    margin-top: -10px;
    margin-right: -5px;
    background-color: rgb(255, 219, 77);
}

.bet123{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: -2px;
}

.amount1 {
    position: relative;
    width: 500px;
    height: 80px;
    padding: 2px;
    margin-left: -30px;
}